* {
    box-sizing: border-box;
}

.body {
    margin: 0px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
}

.navbar {
    background-color: #ffe100;
    overflow: hidden;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 60px;
    display: none;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: block;
    }
}

.mobile-navbar {
    background-color: #ffe100;
    padding: 20px;
    height: 60px;
    cursor: pointer;
}

.mobile-navbar input {
    position: absolute;
    left: 19px;
    z-index: 3;
    opacity: 0;
}

.hamburger-wrapper {
    top: 20px;
    right: 20px;
}

@media screen and (min-width: 768px) {
    .mobile-navbar {
        display: none;
    }
}

.link {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 30px;
    /* removes underline in anchor tag */
    text-decoration: none;
}


/* hover effect to make sure user knows what link is he about to click */

.link:hover {
    color: #fff;
    background-color: #023047;
    border-radius: 10px;
}

.link-active {
    color: #fff;
    background-color: #023047;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    padding: 30px;
    text-decoration: none;
}

.hamburger {
    height: 20px;
    width: 20px;
    left: -20px;
    z-index: 2;
}


/* home only */

.content-wrapper {
    background-color: #023047;
    min-height: calc(100vh - 60px);
    padding: 20px;
    overflow: hidden;
}

.main-content {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    .main-content {
        flex-direction: column;
    }
}

.my-img {
    border-radius: 50%;
    height: 280px;
}

@media only screen and (max-width: 900px) {
    .my-img {
        height: 160px;
    }
}

.text {
    width: 400px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text span {
    /* changes every character to uppercase */
    text-transform: uppercase;
    /* padding gives spacing between every character */
    padding: 0 5px;
    font-size: 50px;
    /* zoomup is like variable name, 3s is the total animation time, animation is with ease type and runs for infinite */
    animation: zoomup 3s ease infinite;
    display: inline-block;
    /* every 100ms for every word in loop */
    animation-delay: calc(100ms * var(--i));
    color: #ffb703;
}

@keyframes zoomup {
    /* runs at beginning and end of the animation */
    0%,
    100% {
        transform: scale(1);
    }
    /* runs at middle of animation */
    50% {
        /* scale makes text bigger while jumping and  trnaslateY will change how far it will jump from the base */
        transform: scale(1.2) translateY(-30px);
        /* sets the blur area of the text */
        filter: blur(2px);
        /* sets how opaque it will be when jumping */
        opacity: 0.1;
    }
}

@media only screen and (max-width: 900px) {
    .text {
        width: 200px;
        height: 120px;
    }
    .text span {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .text {
        width: 120px;
        height: 80px;
    }
    .text span {
        font-size: 16px;
        padding: 0 2px;
    }
}

.small-text {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    padding: 10px;
}

@media only screen and (max-width: 900px) {
    .small-text {
        font-size: 16px;
    }
}

.mobile-nav {
    transform: scale(0);
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    background-color: #ffe100;
    transition: transform 300ms;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

#toggle:checked+img+.mobile-nav {
    top: 0;
    transform: scale(1);
    transition: transform 300ms;
}